.logoAPV{
    width: 100px;
    height: 100px;
}

.menu-burger{
    display: none;
}

.mobile-menu{
    margin-left: 0;
}

@media screen and (max-width: 900px){
    .menu-burger{
        display: block;
    }

    .links ul{
        position: absolute;
        display: flex;
        flex-direction: column;
    }

    .nav-links{
        margin-left: -100%;
    }
}