<nav class="nav">
    <img src="assets/images/Logo-Au-Petit-Village.png" alt="Logo d'une entreprise illustré par un casque avec des ailes" class="logoAPV">
        <div class="nav-links">
            <ul>
                <li>
                    <a routerLink="/" class="links">ACCUEIL</a>
                </li>
                <li>
                    <a routerLink="/produits" class="links">NOS PRODUITS</a>
                </li>
                <li>
                    <a routerLink="/propos" class="links">À PROPOS</a>
                </li>
            </ul>
        </div>
    <div id="burger"></div>
</nav>
