<img src="assets/images/LogoAuPetitVillage.jpg" alt="Logo d'une entreprise illustré par un casque avec des ailes" class="logoAPV">

<nav class="navbar">
    <div class="nav-links">
        <ul>
            <li class="links">
                <a routerLink="/">ACCUEIL</a>
            </li>
            <li class="links">
                <a routerLink="/produits">NOS PRODUITS</a>
            </li>
            <li class="links">
                <a routerLink="/propos">À PROPOS</a>
            </li>
        </ul>
    </div>
</nav>

<img src="assets/images/MenuHamburger.png" alt="Menu Hamburger" class="menu-burger">
