<app-header></app-header>

    <div *ngIf="product">
        <div class="productItem">
            <span class="imgSide">
                <img [src]="product.imageUrl" class="productImg">
            </span>
            <span class="infoSide">
                <h2 class="productName">{{product.name}}</h2>
                <p class="productDescription">{{product.description}}</p>
                <span class="line">
                    <p class="productPrice">{{product.price | currency:'EUR' : 'symbol':'1.2-2'}}</p>
                    <button href="#" class="buyBtn">ACHETER</button>
                </span>
            </span>
        </div>
      
<app-footer></app-footer>
