@font-face{
    font-family:'BUBBLENEUE';
    src: url(/src/assets/fonts/BUBBLENEUE.woff) format('woff');
}

p{
    text-align: center;
}

@media screen and (max-width: 430px) {
    p{
        margin: 10px 10px;
    }
}

